on:
  push:
    branches: ["pipeline"]
jobs:
  triggerBuild:
    runs-on: ubuntu-latest
    steps:
      - shell: bash
        env:
          JENKINS_USER: ${{ secrets.JENKINS_USER }}
          JENKINS_PASSWORD: ${{ secrets.JENKINS_PASSWORD }}
          JENKINS_TOKEN: ${{ secrets.JENKINS_TOKEN }}
        run: |
          curl -v "https://$JENKINS_USER:$JENKINS_PASSWORD@jenkins.raspi.timkausemann.de/job/portcats/build?token=$JENKINS_TOKEN"
